.charity
{
    height:60vh;
    width:100vw;
}


.scrollspy-example
{
background-color:black;
color:white;
}
.card-img-top
{
    height:50vh;
    width:10vw;
 
}
H1
{
 color:blue
}
.donate
{
width:100vw;
height:70VH;

}
.table
{
    background-color:cyan;
}
.clearfix
{
    background-color:gold;
}
.d-block
{
    height:50vh;
    width:100vw;
}
.end
{
    text-align:center;
    background-color:orange;
}
.btn
{
    background-color:black;
}